<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="background">
    <header>
      <div class="logo">
        <a href="#"
          ><font-awesome-icon
            icon="fa-solid fa-mug-hot"
            class="logo-icon"
          />Coffee Shop</a
        >
        <a
          ><font-awesome-icon
            icon="fa-solid fa-bars"
            class="faBars"
            @click="show()"
        /></a>
      </div>
      <transition>
        <nav :style="rwdHeight">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#Menu">Menu</a>
            </li>
            <li>
              <a href="#Contact">Contact</a>
            </li>
            <li @click="shopcarShow" class="shopcar">
              <font-awesome-icon
                icon="fa-solid fa-cart-shopping"
                class="cart-shop-icon"
              />
            </li>
          </ul>
        </nav>
      </transition>
    </header>
    <section class="home">
      <div class="container">
        <p class="slogan">discover the taste of real coffee</p>
        <div class="btn">
          <p>Order Now</p>
        </div>
      </div>
    </section>
    <h1 class="heading">ABOUT US</h1>
    <section class="about" id="about">
      <div class="row">
        <img src="./image/about.jpg" alt="" />
        <div class="content">
          <h1>What makes our coffee special?</h1>
          <hr class="content-hr" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dignissimos, nesciunt ut expedita, voluptatem alias autem excepturi
            pariatur aut iure magnam unde illum corrupti porro iusto eaque
            architecto beatae fuga! Eveniet!
          </p>
        </div>
      </div>
    </section>
    <section class="menu box" id="Menu">
      <h1 class="heading">MENU</h1>
      <div class="content">
        <ul>
          <li class="coffie-item" v-for="i in coffieList">
            <!-- <img src="./image/menu-1.png" alt=""> 原始路徑 -->
            <img :src="require(`./image/${i.img}`)" />
            <p class="coffee-name">{{i.name}}</p>
            <p class="coffee-price">$ {{i.price}}</p>
            <div class="itemNumber">
              <p>數量</p>
              <input type="number" min="0" max="99" v-model="i.value" />
              <input
                type="submit"
                value="Buy Now"
                class="addspbtn"
                @click="addtoshopcar(i,$event)"
              />
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="contact box" id="Contact">
      <h1 class="heading contact-heading">CONTACT</h1>
      <div class="row">
        <div class="contact-img">
          <img src="./image/contact.png" alt="" />
        </div>
        <div class="contact-form">
          <p>GET IN TOUCH</p>
          <div class="contact-input">
            <font-awesome-icon class="contact-icon" icon="fa-solid fa-user" />
            <input class="contactInput" type="text" placeholder="name" />
          </div>
          <div class="contact-input">
            <font-awesome-icon
              class="contact-icon"
              icon="fa-solid fa-envelope"
            />
            <input class="contactInput" type="text" placeholder="email" />
          </div>
          <div class="contact-input">
            <font-awesome-icon
              class="contact-icon"
              icon="fa-solid fa-phone-flip"
            />
            <input class="contactInput" type="text" placeholder="phone" />
          </div>
          <div class="contact-submit">
            <p>Send Message</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="box ">
        <img src="./image/footer-1.png" alt="" />
        <p class="footer-title">Address</p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
          incidunt alias sapiente voluptatem
        </p>
      </div>
      <div class="box">
        <img src="./image/footer-2.png" alt="" />
        <p class="footer-title">E-mail</p>
        <p>
          <a href="mailto:favorite.ange@gmail.com">favorite.ange@gmail.com</a>
        </p>
      </div>
      <div class="box">
        <img src="./image/footer-3.png" alt="" />
        <p class="footer-title">Call us</p>
        <p>0912345678</p>
      </div>
      <div class="box">
        <img src="./image/footer-4.png" alt="" />
        <p class="footer-title">ddress</p>
        <p>Monday ~ Friday : 8:00 ~ 24:00</p>
        <p>Saturday : 8:00 ~ 23:00</p>
      </div>
    </footer>
    <transition>
      <div class="shop-box" v-show="shopcarisShow">
        <div class="shop-car">
          <div class="clos-btn" @click="shopcarShow()">
            <font-awesome-icon icon="fa-solid fa-x" />
          </div>
          <div class="content">
            <table>
              <tr>
                <th class="itemName">產品名稱</th>
                <th>數量</th>
                <th>單價</th>
                <th>合計</th>
                <th class="delbtn"></th>
              </tr>
              <tr v-for="(i,index) in shopcar">
                <td class="shopcar-img">
                  <div class="shopcarImg">
                    <img :src="require(`./image/${i.img}`)" />
                  </div>
                  <p>{{i.name}}</p>
                </td>
                <td>{{i.value}}</td>
                <td>{{i.price}}</td>
                <td>{{i.price*i.value}}</td>
                <td @click="delshopitem(index)" class="delbtn">
                  <button>刪除</button>
                </td>
              </tr>
            </table>
            <div class="shopcarfooter">
              <h3>總價：</h3>
              <h4>NT {{shopcartotal()}}</h4>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <div class="lightBox-scss" v-show="lightBox">
      <div class="message">
        <div class="cancel" @click="closeLight"><font-awesome-icon icon="fa-solid fa-xmark" /></div>
        商品已加入購物車
      </div>
    </div>
  </div>
  </body>
</html>
